/*Styles for carta_eje*/

h2 {
    color: rgb(84,159, 65);
  }

h1 {
  color: green;
}

p {
    color: rgb(1, 31, 1);
}
body {
        font-family: Georgia, serif;
        max-width: 800px;
        margin: 20px auto;
        padding: 60px ;
        background-color: #f9f9f9;
    }

.carta {
  
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: white;
}

.encabezado {
    text-align: right;
    margin-bottom: 20px;
}

.contenido {
    margin-bottom: 20px;
}

.media {
    text-align: center;

